@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Rowdies:wght@300&display=swap"); /*MIXIN*/
/*Utilizado en las listas del header y footer*/
/* MAIN */
main {
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.textos {
  text-align: center;
  background: linear-gradient(to left, #297003, #e4e4d9);
}

.textos1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
  color: rgb(243, 243, 247);
  background-color: #7F3728;
  text-transform: uppercase;
}

.textos2 {
  text-align: justify;
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: rgb(29, 5, 51);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.textos3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.textos4 {
  text-align: justify;
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  color: rgb(29, 5, 51);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-weight: bold;
}

.animation {
  animation-duration: 4s;
}

.logoChico {
  width: 5%;
  height: 5%;
  padding-left: 1rem;
  padding-top: 1rem;
}

img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.reubicacion {
  display: flex;
}

.card-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  padding-top: 10%;
  background-color: #2b832b;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
  color: white;
  font-size: 2vh;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  white-space: normal;
}

.card:hover .card-text {
  width: 100%;
  left: 0;
}

.card {
  position: relative;
  width: 100%;
  padding-top: 0%;
  background: local;
  box-shadow: 1px 2px 4px black;
  display: block;
  height: 20vh;
}

.card-title {
  text-align: center;
  padding-top: 10%;
  font-size: 3vh;
  font-weight: bold;
}

/* Header */
html {
  font-size: 62.5%;
}

body {
  font-family: "Quattrocento Sans", sans-serif;
  margin-bottom: 0%;
}

h1 {
  color: green;
  padding: 4vh;
  font-size: 5rem;
  text-transform: uppercase;
  text-decoration: none;
}

header {
  border-bottom: 2px brown solid;
  margin-bottom: 0%;
  height: 25rem;
  background-image: url(../img/fondo-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header ul li {
  display: inline-block;
  margin: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
  color: #0c4b26;
  background-size: contain;
}

.navegador {
  height: fit-content;
  width: fit-content;
  border-radius: 3px;
  border: 2px green solid;
  position: absolute;
  box-shadow: 1px 2px 4px #000;
  z-index: 1;
}

a {
  color: green;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.titulo {
  display: flex;
}

/*FORMULARIO*/
.contenedor2 {
  background-color: #0c4b26;
  height: 70%;
  width: 35%;
  padding: 2rem;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 3%;
  border-radius: 4px;
  border: 0.3rem black solid;
  color: green;
  box-shadow: 7px 13px 37px #000;
}

.letras1 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

.letras2 {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
}

.letras {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
}

.boton {
  background-color: #9c744c;
  border-color: black;
  font-size: 2rem;
  margin: 3rem;
}
.boton:hover {
  color: black;
  background-color: white;
}

::placeholder {
  font-size: 1.5rem;
}

/*FOOTER*/
footer {
  margin-top: 0;
  padding-top: 0;
  height: 20rem;
}

.pie {
  background-image: url(../img/fondo-footer2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #0a3509;
  height: 20rem;
  padding-left: 2rem;
  padding-top: 2rem;
}

footer ul li {
  list-style-type: none;
  padding-left: 0;
  font-size: medium;
}
footer ul li a {
  color: green;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 576px) {
  .textos1 {
    font-size: 1.5rem;
  }
  .textos2 {
    font-size: 1.3rem;
  }
  .textos3 {
    font-size: 2rem;
  }
  footer {
    height: fit-content;
    font-size: 2rem;
  }
  footer ul li {
    font-size: 0.9rem;
  }
  .reubicacion {
    flex-direction: column;
    align-items: center;
  }
  .contenedor2 {
    width: 100%;
  }
  h1 {
    font-size: 3.5rem;
  }
  header {
    height: 19rem;
  }
  header ul li {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
  }
  .letras2 {
    display: none;
  }
  .carousel-item {
    width: 100%;
    height: auto;
  }
  .ancho {
    height: 100%;
  }
}
@media (max-width: 768px) {
  .container.gallery-container {
    border-radius: 0;
  }
  .footer {
    height: fit-content;
  }
  .reubicacion {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .contenedor2 {
    width: 60%;
  }
  .logoChico {
    display: none;
  }
  header ul li {
    margin: 0.3rem;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .carousel-item {
    width: 100%;
    height: 80vh;
  }
}

/*# sourceMappingURL=estilo.css.map */
