/* Header */

html {
    font-size: 62.5%;
}

body {
    font-family: $font-family_1;
    margin-bottom: 0%;
    margin: right 0;
    margin-left: 0;
}

.titulo {

    .logoChico, h1{
        display: inline-block;
    }

    h1 {
        color: $color_1;
        padding: 4vh;
        font-size: 5rem;
        text-transform: uppercase;
        text-decoration: none;
    }
}

header {
    border-bottom: 2px brown solid;
    margin-left: 1%;
    margin-bottom: 0%;
    height: 25rem;
    background-image: url(../img/fondo-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    ul {
        li {

            display: inline-block;
            margin: 0.5rem;
            font-weight: bold;
            font-size: 2rem;
            color: $color_2;
            background-size: contain;

        }
    }
}

.navegador {

    height: fit-content;
    width: fit-content;
    border-radius: 3px;
    border: 2px green solid;
    position: absolute;
    box-shadow: 1px 2px 4px #000;
    z-index: 1;
}


a {
    @include enlaces;
}