/* IMAGENES */

.carousel-item {
	margin-top: 5rem;
	margin-bottom: 5rem;
	width: cover;
	height: auto;
	min-height: 100%;
	background: no-repeat center center scroll;

}



.container.gallery-container {
	background-color: $background-color_5;
	color: $color_9;
	min-height: 100vh;
	border-radius: 20px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery {
	padding: 40px;

	.lightbox {
		img {
			width: 100%;
			margin-bottom: 30px;
			transition: 0.2s ease-in-out;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

			&:hover {
				transform: scale(1.05);
				box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
			}
		}
	}

	img {
		border-radius: 4px;
	}
}

.baguetteBox-button {
	background-color: $background-color_6 !important;
}